<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

  HEADING
# Data Science Tool And Ecosystem

#Create markdown cell with title of the notebook.
 # In this notebook, Data Science Tools and Ecosystem are summarized.

#Create a markdown cell to list data science languages.
# Some of the popular languages that data science used are:
1. R
2. PYTHON
3. C++
4. SQL

#Create a markdown cell to list data science libraries.
## Some of the commonly used libraries used by Data Scienctists include:
1. Pandas
2. Scikit-learn
3. Matplotlib
4. Numpy
5. SciPy

#Create a markdown cell with a table of Data Science tools.
## Create a single column table 

| Data Science Tools | 
|--------------------|
| R STUDIO |
| APACHE SPARK |
| TENSOR FLOW  |

#Create a markdown cell introducing arithmetic expression examples.
### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
# This a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [5]:
# Create a code cell to convert minutes to hours
200/60

3.3333333333333335

#Insert a markdown cell to list Objectives.
# __OBJECTIVES__
## SCIENTIFIC LIBRARIRES
* PANDAS 
* SciPy
* NumPy
* Matplotlib

#Create a markdown cell to indicate the Author's name.
## AUTHOR
NANDINI RATHORE